{% extends "_layouts/default" %}

{% block content %}

	<div class="container text-white mx-auto">
		<div class="grid grid-cols-2 py-10 gap-6 items-center">
			<div class=" gap-4 py-10">
				<h1 class="font-bold text-4xl">{{ entry.title }}</h1>
				<p class="mt-4">{{ entry.pageSubheading }}</p>

				{% if entry.section.handle == 'blogPosts' or entry.section.handle == 'workPosts' %}
					<div class=" text-white mt-4">
						{% set category = entry.category.eagerly().one() %}
						{% if category %}
							<span class="text-sm font-medium px-3.5 py-1.5 border border-accent/20 rounded-full text-text-muted bg-accent/5 hover:border-accent/50 hover:text-accent hover:bg-accent/8 transition-all cursor-default">{{ category.title }}</span>
						{% endif %}
						<p>
							<time datetime="{{ entry.postDate|atom }}">{{ entry.postDate|date }}</time>
						</p>
						<!--<p class="text-xs">By
							{{ entry.author.fullName }}</p>-->
					</div>
				{% endif %}

			</div>

			<div class="">
				{% if entry.image %}
					<figure class="h-120 rounded-xl overflow-hidden">
						{% set assets = entry.image.eagerly().one() %}
						{% if assets %}
							<img class="w-full h-full object-cover" src="{{ assets.url('hero') }}" alt="{{ assets.alt }}"/>
						{% endif %}
					</figure>
				{% endif %}
			</div>


		</div>
	</div>

	<section class="page__content">
		<div class="container mx-auto py-12 px-2 text-balance prose text-white">
			{{ entry.pageContent }}
		</div>
		{% block landing %}{% endblock %}
	</section>
{% endblock %}
